<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Help Page</title>
    </head>
    <body>
        {{>header}}
        <p>You have questions because you are dim</p>
        {{> footer}}
    </body>
</html>